/* initi theme color variables */

:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --mid-navy: #023047;
    --light-navy: #112240;
    --lightest-navy: #233554da;
    --white: white;
    --lilac: #DAD1F6;
    --lightest-lilac: #ECC1CF;
    --dark-lilac: #9198e5;
    --purple: #2B204E;
    --connect: white;
    --border: #0a192f;
  }


